In [1]:
import numpy as np
import pandas as pd
import time
from matplotlib import pyplot as plt

In [2]:
from tools import HNSWNearestNeighbors
from Barcode import BarcodeSearch

## Test Functions

we choose some function from common list of <a href="https://www.sfu.ca/~ssurjano/optimization.html">optimization test problems</a> and calculate it's zero sublevel homology with our algorithm:

In [3]:
def HumpCamel3(thetas):
    return (2 - 1.05 * thetas[:, 0] ** 2 + thetas[:, 0] ** 4 / 6) * thetas[:, 0] ** 2 + thetas[:, 0] * thetas[:, 1] + thetas[:, 1] ** 2

We create random points cloud in $[-2, 2]^2$.

In [4]:
points = 2 - 4*np.random.rand(500000, 2)
values = HumpCamel3(points)

Calculate for every points it's closest neighbours with <a href="https://github.com/nmslib/hnswlib">hnswlib</a>:

In [5]:
graph, distances = HNSWNearestNeighbors(points, 8)

Next we create calcutale zero sublevel homology of function on this cloud

In [6]:
cloud = BarcodeSearch(values, graph, distances)
cloud.Initialize()
cloud.ComputeBarcode().sort_values('dead_cluster_size', ascending=False)

,birth,death,birth_swallowing_cluster,id_dead_min,id_saddle,id_swallowing_min,dead_cluster_size,swallowing_cluster_size,mean_height_cluster
0,3.7896e-06,inf,NaN,287386,NaN,NaN,499999,NaN,2.1576
37,0.298685,0.877347,3.7896e-06,174358,193928,287386,29067,81039,0.317411
36,0.298642,0.877358,3.7896e-06,279035,236584,287386,28965,110112,0.31646
523,2.58574,2.62245,3.7896e-06,113753,57403,287386,12,351355,0.0216228
32,0.262344,0.271109,3.7896e-06,182206,228769,287386,9,20670,0.00451416
...,...,...,...,...,...,...,...,...,...
311,1.19361,1.20224,3.7896e-06,305322,460505,287386,1,206224,0
313,1.21007,1.2106,3.7896e-06,311155,311412,287386,1,207539,0
315,1.21954,1.21971,3.7896e-06,264873,174897,287386,1,208950,0
317,1.22725,1.22853,3.7896e-06,177855,472193,287386,1,210405,0
766,9.15516,9.16024,3.7896e-06,375910,282859,287386,1,499658,0