In [11]:
import numpy as np
import pandas as pd
import time
from matplotlib import pyplot as plt

In [2]:
from tools import HNSWNearestNeighbors
from tools import plot_barcodes
from Barcode import BarcodeSearch

## Test Functions

we choose some function from common list of <a href="https://www.sfu.ca/~ssurjano/optimization.html">optimization test problems</a> and calculate it's zero sublevel homology with our algorithm:

In [3]:
def HumpCamel3(thetas):
    return (2 - 1.05 * thetas[:, 0] ** 2 + thetas[:, 0] ** 4 / 6) * thetas[:, 0] ** 2 + thetas[:, 0] * thetas[:, 1] + thetas[:, 1] ** 2

We create random points cloud in $[-2, 2]^2$.

In [5]:
points = 2 - 4*np.random.rand(500000, 2)
values = HumpCamel3(points)

Calculate for every points it closest points with <a href="https://github.com/nmslib/hnswlib">hnswlib</a>:

In [6]:
graph, distances = HNSWNearestNeighbors(points, 8)

Next we create calcutale zero sublevel homology of function on this cloud

In [7]:
cloud = BarcodeSearch(values, graph, distances)
cloud.Initialize()
cloud.ComputeBarcode().sort_values('dead_cluster_size', ascending=False)

,birth,death,birth_swallowed_cluster,id_dead_min,id_saddle,id_swallowed_min,dead_cluster_size,swallowed_cluster_size,mean_height_cluster
0,1.89238e-05,inf,NaN,275806,NaN,NaN,500000,NaN,2.16301
29,0.29864,0.877361,1.89238e-05,128526,238097,275806,28923,81342,0.316542
30,0.298651,0.877373,1.89238e-05,406267,30851,275806,28814,110270,0.317023
269,1.00048,1.01186,1.89238e-05,138975,491708,275806,11,172169,0.00687989
361,1.45584,1.47032,1.89238e-05,174147,199917,275806,10,244228,0.00845313
...,...,...,...,...,...,...,...,...,...
338,1.28878,1.29256,1.89238e-05,153568,374974,275806,1,219540,0
339,1.29426,1.29618,1.89238e-05,479270,265613,275806,1,220117,0
340,1.30028,1.3004,1.89238e-05,493439,295897,275806,1,220721,0
53,0.387678,0.387724,0.29864,121834,517,128526,1,3748,0
381,1.54163,1.54298,1.89238e-05,103379,243626,275806,1,253653,0