In [1]:
import numpy as np
import pandas as pd
import time
from matplotlib import pyplot as plt

In [2]:
from tools import HNSWNearestNeighbors
from Barcode import BarcodeSearch

## Test Functions

We choose some function from common list of <a href="https://www.sfu.ca/~ssurjano/optimization.html">optimization test problems</a> and calculate it's zero sublevel homology with our algorithm:

In [3]:
def HumpCamel3(thetas):
    return (2 - 1.05 * thetas[:, 0] ** 2 + 
            thetas[:, 0] ** 4 / 6) * thetas[:, 0] ** 2 + thetas[:, 0] * thetas[:, 1] + thetas[:, 1] ** 2

We create random points cloud in $[-2, 2]^2$.

In [4]:
points = 2 - 4*np.random.rand(100000, 2)
values = HumpCamel3(points)

Calculate for every points it's closest neighbours with <a href="https://github.com/nmslib/hnswlib">hnswlib</a>:

In [5]:
graph, distances = HNSWNearestNeighbors(points, 6)

Next we create calcutale zero sublevel homology of function on this cloud

In [6]:
cloud = BarcodeSearch(values, graph, distances)
cloud.Initialize()
res = cloud.ComputeBarcode()
res[['birth', 'death', 
     'birth_swallowing_cluster',  'dead_cluster_size']].sort_values('dead_cluster_size', ascending=False)

           birth     death birth_swallowing_cluster dead_cluster_size
0    2.75444e-05       inf                      NaN             99999
35      0.298813  0.877293              2.75444e-05              5838
36      0.298843  0.877315              2.75444e-05              5742
424      1.81708   1.92417              2.75444e-05                18
531      2.77711    2.8553              2.75444e-05                16
..           ...       ...                      ...               ...
394      1.62357   1.62718              2.75444e-05                 1
393      1.62162    1.6326              2.75444e-05                 1
392      1.61565   1.61879              2.75444e-05                 1
391      1.61481   1.63841              2.75444e-05                 1
362      1.45311   1.45665              2.75444e-05                 1

[724 rows x 4 columns]